.App {
  text-align: center;
  height: 100vh;
}

.container{
  padding-left: 20vh; 
  padding-right: 20vh; 
  padding-top: 10vh; 
  text-align: center;
}

.input{
  margin: 5vh;
}

.button {
  margin: 1vh;
}
.formular {
  padding: 2vh;
  margin: 1vh;
  background-color: rgba(255,255,255,0.95);
  border-radius: 18px
}

@media only screen and (max-width: 900px) {
  .input{
    margin: 2vh;
  }
  .container{
    padding: 0.5vh; 
  }
}


